//custom my own app scss variables

$primary:#335eea;
$secondary:#b0bec5;
$white:#ffffff;
$success-soft:#42ba96;
$bg-container:#f9fbfd;
$bg-dark:#1b2a4e;
$default-text:#161c2d;
$muted-text:#869ab8;
$gray-700-text:#506690;
$gray-200-text:#f1f4f8;

$primary-soft-bg:rgba(51, 94, 234, 0.1);
$success-soft-bg:rgba(66, 186, 150, 0.1);
$card-shadow-color:rgba(22, 28, 45, 0.1);
$table-border-color:rgba(0, 0, 0, 0.12);

$max-container-width:1040px;

$min-table-row-header-width:100px;
